{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src=""></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', '');
    </script>
    <meta charset="utf-8">
    <title>{% block title %}Django Boilerplate{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% block stylesheet %}{% endblock %}
</head>
<body>
{% block body %}
    <div class="content">
        <div class="container">
            <div class="text-center">
                {% include 'includes/nav.html' %}
            </div>
            {% block header %}
            {% endblock %}

            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% include 'includes/footer.html' %}
{% endblock body %}
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/hide-message.js' %}"></script>
{% block javascript %}{% endblock %}
</body>
</html>
