{% extends 'base.html' %}

{% block title %}
    Car Collection
{% endblock %}

{% block content %}
    <div class="row">
        <h1>Car Collection</h1>
        {% for item in items %}
            <div class="card mb-3">
                <div class="card-body">
                    <img src="{{ item.image.url }}" style="max-width: 70%;"
                         class="card-img img-fluid" alt="{{ item.name }}"/>
                    <h5 class="card-title">{{ item.name }}</h5>
                    <div class="card-text">
                        <ul>
                            <li>Image Size: {{ item.image.size }} bytes</li>
                            <li>Width: {{ item.image.width }} px</li>
                            <li>Height: {{ item.image.height }} px</li>
                        </ul>
                    </div>
                    <a href="{{ item.link }}" target="_blank"
                       class="btn btn-sm btn-outline-primary float-left truncate">{{ item.name }}</a>
                </div>
                <a href="{% url 'delete-image' item.pk %}" target="_blank"
                   class="btn btn-sm btn-outline-danger float-left truncate mt-3 mb-3">Delete {{ item.name }}</a>
            </div>
            <br>
        {% empty %}
            <h2 class="text-center"><span
                    class="badge badge-info">No data to display</span></h2>
        {% endfor %}
        {% include 'includes/pagination.html' %}
    </div>
{% endblock %}

