{% extends 'base.html' %}

{% block title %}
    Car Collection
{% endblock %}

{% block content %}
    <div class="row">
        <h1>Car Collection</h1>
        <div class="offset-lg-3 col-lg-6 offset-md-3 col-md-6 offset-sm-0 col-sm-1 offset-xs-0 col-xs-1">
            {% for item in items %}
                <div class="card mb-3">
                    <img src="{{ item.image.url }}"
                         class="card-img-top img-fluid" alt="{{ item.name }}"/>
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <div class="card-text">
                            <ul>
                                <li>Image Size: {{ item.image.size }} bytes</li>
                                <li>Width: {{ item.image.width }} px</li>
                                <li>Height: {{ item.image.height }} px</li>
                            </ul>
                        </div>
                        <a href="{{ item.link }}" target="_blank"
                           class="btn btn-sm btn-outline-primary float-left truncate">{{ item.name }}</a>
                        <a href="{% url 'delete-image' item.pk %}" target="_blank"
                           class="btn btn-sm btn-outline-danger float-right truncate">Delete {{ item.name }}</a>
                    </div>
                </div>
                <br>
            {% empty %}
                <h2 class="text-center"><span
                        class="badge badge-info">No data to display</span></h2>
            {% endfor %}
        </div>
        {% include 'includes/pagination.html' %}
    </div>
{% endblock %}

