{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Django Boilerplate</h1>
            <h2>Base Web Site Built with Django v4</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <img src="{% static "img/laptop-5.jpg" %}" alt="brain" class="img-fluid laptop-img">
            <h2 class="mt-3">Install Django</h2>
            <p>Before you can use Django, you’ll need to install it. Our complete installation guide covers all the
                possibilities; this guide will get you to a simple, minimal installation that’ll work while you walk
                through the introduction.</p>
        </div>
        <div class="col-md-6">
            <h2>Industries covered: Media, Finance, Technology and all that jazz...</h2>
            <p>Technology development and its disruptive effects continue to evolve.</p>
            <p>Django makes it easier to build better web apps more quickly and with less code.</p>
            <h3>Meet Django</h3>
            <p>Django is a high-level Python web framework that encourages rapid development and clean, pragmatic
                design. Built by experienced developers, it takes care of much of the hassle of web development, so you
                can focus on writing your app without needing to reinvent the wheel. It’s free and open source.</p>
            <h4>Ridiculously fast.</h4>
            <p>Django was designed to help developers take applications from concept to completion as quickly as
                possible.
            </p>
            <h4>Reassuringly secure.</h4>
            <p>Django takes security seriously and helps developers avoid many common security mistakes.</p>
            <h4>Exceedingly scalable.</h4>
            <p>Some of the busiest sites on the web leverage Django’s ability to quickly and flexibly scale.</p>
        </div>
    </div>
{% endblock %}
